<style>
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

</style>
<div class = "jumbotron">
      	
    <!-- Custom styles for this template -->
      <h1 class="h3 mb-3 font-weight-normal">Sign In</h1>
      <label for="username" class="sr-only">Username</label>
      <input type="text" id="username" class="form-control" placeholder="Username" required autofocus>
      <label for="password" class="sr-only">Password</label>
      <input type="password" id="password" class="form-control" placeholder="Password" required autofocus>
      <button class="btn btn-lg btn-primary btn-block" id = "signin">Sign in</button>
      <p class="mt-5 mb-3 text-muted">&copy; Reimbursement System</p>

  
</div>
